body{
    background-color: #212529;
    color: white
}
.bg-light-dark{
    background-color: #2B3035;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Logo */
.logo-text {
    font-size: 4vw;
    font-weight: 800;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #6f42c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    transition: all 0.4s ease;
    animation: fadeIn 1s ease;
    text-align: center;
  }
.logo-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: #ee0979;
    transition: width 0.3s ease;
  }
.logo-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: #ee0979;
    transition: width 0.3s ease;
  }

.logo-text:hover::after {
      width: 100%;
    }
@keyframes fadeIn {
      from { opacity: 0; transform: translateY(-10px); }
      to { opacity: 1; transform: translateY(0); }
    }
@media (max-width: 480px) {
  .logo-text {
    font-size: 8vw;
  }
}
/* CSS for Login and Register buttons */
.login-button, .register-button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover, .register-button:hover {
  background-color: #2ecc71;
}

.login-button:active, .register-button:active {
  background-color: #1abc9c;
}

.register-button {
  background-color: #f1c40f;
}

.register-button:hover {
  background-color: #f7dc6f;
}

.register-button:active {
  background-color: #f2c464;
}

.welcome-text{
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    color: #07a9e9;
    text-align: left;
    margin-top: 20px;
    line-height: 1.5;
}
.welcome-text:hover {
    color: #f1c40f;
    
}
.animated-hr {
  border: none;
  border-top: 5px solid #ccc;
  width: 90vw; /* 90% of screen width */
  margin: 0 auto; /* Center horizontally */
  animation: animate-hr 3s infinite;
}

@keyframes animate-hr {
  0% {
    border-top-color: #09c6f5;
  }
  50% {
    border-top-color: #666;
  }
  100% {
    border-top-color: #ccc;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .animated-hr {
    width: 80vw; /* 80% of screen width on smaller screens */
  }
}

@media (max-width: 480px) {
  .animated-hr {
    width: 70vw; /* 70% of screen width on even smaller screens */
  }
}

/* Buttons */
.gradient-2 {
      background: linear-gradient(135deg, #43cea2, #185a9d);
      color: white;
    }
 
.dashboard-card {
transition: 0.3s;
border: none;
border-radius: 16px;
}
.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}